.explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40%;
}

.explore-button {
  background-color: lightblue;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 70%;
}

.select-option, .select-option select {
  border-radius: 10px;
  margin: 5px auto;
  text-align: center;
}

.select-option select {
  font-size: 17px;
  height: 25px;
  width: 90%;
}
